extends layout

block styles
	link(rel='stylesheet', href='/css/index.css')

block content
	#index
		h1 Roger Stringer
		p.tagline <a href="http://devops.freekrai.net">DevOps Engineer</a>, Software Developer, Author and <a href='/speaking'>Speaker</a>
		table
			tr
				td
					img(src='/images/hand.gif')
				td
					span Featured Post: 
					a(href='#{latest.url}') #{latest.title}
			tr
				td
					img.hidden(src='/images/hand.gif')
				td
					a(href='/archive') Archive
			tr
				td
					img.hidden(src='/images/hand.gif')
				td
					a(href='/about') About

block scripts
	script(src='/js/buzz.min.js')
	script(src='/js/index.js')